@import url("'https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lateef&family=Outfit:wght@300&display=swap'");

h1 {
    font-family: 'Lateef'; /* Asignamos la familia Lateef al primer título */
    font-size: 35px;
    text-align: center; /* Alineamos el título al centro de lo que abarca */
}

h2 {
    font-family: 'Outfit', sans-serif; /* Asignamos la familia Outfit al primer título */
    text-align: justify; /* Alineamos el título al centro de lo que abarca */
}

.contenido {
    position: absolute;
    top: 10%;
    right: 0%;
    width: 88%;
    font-family: 'Outfit', sans-serif; /* Asignamos la familia Outfit a todo el contenido */
    font-size: 18px;
    line-height: 1.25;
    align-items: justify;
    margin: 0% 1% 0% 1%; /* Delimitamos que el margen del contenido sea del 1% de lo que abarca a la derecha y a la izquierda */
}