@import url("'https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lateef&family=Outfit:wght@300&display=swap'");

.cabeza {
    display: flex;
    flex-wrap: wrap;
    box-sizing: inherit;
    padding: 2% 2% 0.5% 2%;
    margin: 0;
    justify-content: space-between;
}

.busqueda {
    display: block;
    padding: 0%;
    box-sizing: inherit;
}

.inputFlotante {
    position: relative;
    margin-bottom: 1rem;
    display: block;
    margin: 0;
    box-sizing: inherit;
    margin-right: 6vw;
}
  
.floating__input {
    line-height: 40px;
    background: none;
    box-shadow: inset 0px 1px 3px 0px rgb(0 0 0 / 8%);
    border-radius: 5px;
    padding: 0 10px;
    outline: none;
    border: none;
    border-bottom: 0.2rem solid rgba(0, 0, 0, 0.42);
    transition: 0.2s ease;
    width: 100%;
    font-family: 'Outfit';
    font-size: 16px;
}
  
.floating__input::placeholder {
    color: rgba(0, 0, 0, 0);
}
  
.floating__label {
    display: block;
    position: relative;
}
  
.floating__label::before {
    content: attr(data-content); /* Indica que tipo de label es: parte del contenido */
    display: block;
    transform-origin: left top; /* Asigna que en su transición se vaya al borde inferior izquierdo */
    transition: 0.2s ease;
    left: 1rem; /* Coloca el label a 1 renglón de distancia del borde izquierdo */
    position: relative;
    color: #429900;
}
  
.floating__label::after {
    bottom: 1rem;
    content: "";
    height: 0.1rem;
    position: absolute;
    transition: transform 180ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 180ms cubic-bezier(0.4, 0, 0.2, 1), 0.3s ease;
    opacity: 0;
    left: 0;
    top: 100%;
    margin-top: -0.1rem;
    transform: scale3d(0, 1, 1);
    width: 100%;
}
  
.floating__input:focus + .floating__label::after {
    transform: scale3d(1, 1, 1);
    opacity: 1;
}
  
.floating__input:placeholder-shown + .floating__label::before {
    transform: translate3d(0, -2.2rem, 0) scale3d(1, 1, 1);
}
  
.floating__label::before,
.floating__input:focus + .floating__label::before {
    transform: translate3d(0, -3.12rem, 0) scale3d(0.82, 0.82, 1);
    
}
  
.floating__input:focus + .floating__label::before {
    color: #429900;
    font-weight: bold;
}
  
table{
    display: table;
    width: 100%;
    box-shadow: inset 0px 1px 5px 10px rgb(0 0 0 / 8%);
    border-radius: 20px;
    padding: 1% 1%;
    border: none;
    border-bottom: 0.2rem solid rgba(0, 0, 0, 0.42);
}

th{
    padding: 0% 1%;
    border: 1px solid rgb(0 0 0 / 12%);
    border-bottom: 2px solid black;
    border-radius: 10px;
    font-size: 16px;
    color: #429900;
}

tr{
    display: table-row;
    font-size: 14px;
    border: 1px solid rgb(0 0 0 / 12%);
    line-height: 1.25;
    text-align: center;
}

td{
    padding: 0.5% 1%;
    display: table-cell;    width: 200px;
    border: 1px solid rgb(0 0 0 / 12%);
    border-radius: 10px;
    box-shadow: inset 2px -3px 25px 2px #7ed957;
    width: auto;
}

.btnClave {
    width: auto; /* Establecemos que el botón de reservar abarque 100 pixeles */
    display: inline-block;
    padding: 0.3em 0em; 
    background: outset transparent;
    border-radius: 40px;
    text-align: center; /* Alineamos el texto del botón reservar al centro de los 100 pixeles de lo que abarca */
    font-family: 'EB Garamond', serif; /* Asignamos la familia EB Garamond al texto del botón reservar */
    font-size: 18px;
    font-weight: bold;
    color: black;
    transition: all 500ms ease;
}
  
.btnClave:hover {
    background: #029876;  /* Establecemos que el color de fondo del botón de reservar al posicionarse sobre él sea verde oscuro */
}

@media screen and (max-width: 650px) {
    table {
      display: block;
      overflow-x: auto;
    }
}